<div class="container margin-top-100">
  <h3>Register User</h3>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="user_name">User Name</label>
      <input [ngClass]="{'is-invalid':invalidUserName()}" type="text" formControlName="user_name" class="form-control"
        id="user_name" name="user_name" placeholder="User name">
      <div *ngIf="invalidUserName()" class="alert alert-danger">
        <div *ngIf="userForm.controls.user_name.errors">
          User name is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input [ngClass]="{'is-invalid':invalidEmail()}" type="text" formControlName="email" class="form-control" id="email"
        name="email" placeholder="E-mail">
      <div *ngIf="invalidEmail()" class="alert alert-danger">
        <div *ngIf="userForm.controls.email.errors.required">
          Email is required.
        </div>
        <div *ngIf="userForm.controls.email.errors.email">
          Email is incorrect format.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="zipcode">Zip Code</label>
      <input [ngClass]="{'is-invalid':invalidZipcode()}" type="number" formControlName="zipcode" class="form-control"
        id="zipcode" name="zipcode" placeholder="Zip Code">
      <div *ngIf="invalidZipcode()" class="alert alert-danger">
        <div *ngIf="userForm.controls.zipcode.errors">
          Zip Code is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="dob">Date of birth</label>
      <input [ngClass]="{'is-invalid':invalidDOB()}" type="date" formControlName="dob" class="form-control" id="dob"
        name="dob">
      <div *ngIf="invalidDOB()" class="alert alert-danger">
        <div *ngIf="userForm.controls.dob.errors">
          Date of Birth is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</div>